[Unit]
Description=Todo app, ACIT4640
After=network.target

[Service]
Environment=NODE_PORT=8080
WorkingDirectory=/home/todo-app/app
Type=simple
User=todo-app
ExecStart=/usr/bin/node /home/todo-app/app/server.js
Restart=always

[Install]
WantedBy=multi-user.target
