#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
url --url=http://192.168.250.200/centos
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Firewall
firewall --enabled --http --ssh --service=tftp
# Network information
network  --bootproto=static --device=enp0s3 --gateway=192.168.250.1 --ip=192.168.250.10 --nameserver=8.8.8.8 --netmask=255.255.255.0 --noipv6 --activate
# Root password
rootpw --iscrypted $6$i5RbEJgzTV.hAIYr$IRDTKsaiB3gi.pFehVNo4L5Ak4NfAUz3nVwembV5XV9h/in9C.VRC8SDgAdpXV4mV64M.FwZE1YYojIf5O8B31
# System services
services --disabled="chronyd"
selinux --disabled
# System timezone
timezone America/Vancouver --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools
%end

%post --log=/my/log/ks.log --interpreter=/usr/bin/bash
yum -y install git epel-release tcpdump net-tools bzip2
yum -y update
curl http://192.168.250.200/files/database.js > /tmp/database.js
curl http://192.168.250.200/files/nginx.conf > /tmp/nginx.conf
curl http://192.168.250.200/files/sudoers > /tmp/sudoers
curl http://192.168.250.200/files/todoapp.service > /tmp/todoapp.service
curl http://192.168.250.200/app_setup.sh > /tmp/app_setup.sh
yum -y install nodejs npm
yum -y install mongodb-server
yum -y install nginx
bash /tmp/app_setup.sh
sudo firewall-cmd --zone=public --add-service=http
sudo firewall-cmd --zone=public --add-service=https
sudo firewall-cmd --runtime-to-permanent
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

reboot
